/* Universal selector */
* {
  scroll-behavior: smooth;
}
/* CSS class app */
.app {
  min-height: 100vh;
  background-color: #32363e;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}

.button {
  /* background-color: #4CAF50; */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*  Media Query */
@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}
/* CSS styles for page title */
.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}
/* Media query */
@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
